body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.hp_background{
    background: url("./Images/cat-hp.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

.custom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 40px;
    height: 70px;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.custom-navbar .logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    left: 40px;
    color: #DAA520;
}

.custom-navbar .custom-nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
}

.custom-navbar .custom-nav-links a:hover {
    color: #007BFF;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 40px;
}

section {
    height: 100vh;
    width: 100%;
    margin-bottom: 3%;
}

h1{
    text-align: center;
}

.form_container{
    width: 400px;
    padding: 30px;
    background-color: rgba(200, 230, 255, 0.8); /* soft pastel blue */
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: float 4s ease-in-out infinite;
    opacity: 0.9;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100px;
    font-size: 1.2rem;
}

.form_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

input {
    flex: 1;
    padding: 10px;
}

input[type="submit"]{
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes float {
  0%, 100% { transform: translate(-50%, -50%); }
  50% { transform: translate(-50%, -52%); }
}

.login_button {
    padding: 12px 25px;
    background-color: #DAA520;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.login_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (min-width: 769px) {
    .custom-nav-links {
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .custom-navbar {
        justify-content: space-between;
    }

    .custom-nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 40px;
        width: 200px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .custom-nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
